
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px black;
    width: 320px;
}
.login-form h2 {
    text-align: center;
    margin-bottom: 25px;
}
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 25px;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: blue;
}

.login-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease;
}

.login-btn:hover {
    background-color: blue;
    transform: translateY(-3px);
}

.signin-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: green;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease;
}

.signin-btn:hover {
    background-color: green;
    transform: translateY(-3px);
}
.register-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}
.register-link {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

.register-link:hover {
    text-decoration: underline;
}
