* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eef2f5;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background: #ffffff;
}

.logo {
    font-weight: bold;
    color: red;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.nav-btn {
    background: red;
    color: #fff;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 4px;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
}

.hero-text {
    max-width: 500px;
}

.tagline {
    color: red;
    font-size: 12px;
    letter-spacing: 1px;
}

.hero-text h1 {
    font-size: 42px;
    margin: 20px 0;
    color: #1f2b3a;
}

.hero-text h1 span {
    color: #1f2b3a;
    font-weight: bold;
}

.hero-text p {
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
}

.buttons button {
    padding: 12px 22px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.primary-btn {
    background: red;
    color: #fff;
    border: none;
}

.secondary-btn {
    background: transparent;
    border: 1px solid #ccc;
    color: #333;
}
.hero-image img {
    width: 380px;
}
.primary-btn {
    background-color: #ff0000;
    color: #ffffff;
    padding: 12px 28px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.primary-btn:hover {
    background-color: #cc0000;
    transform: translateY(-4px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.secondary-btn {
    background-color: transparent;
    color: #000000;
    padding: 12px 28px;
    border: 1px solid #999;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.secondary-btn:hover {
    background-color: #ff0000;
    color: #ffffff;
    border: 1px solid #ff0000;
    transform: translateY(-4px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

